<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/icono.png">
    <title>Api Bartender Darius V
        <%= Version %>
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    <img class="img-fluid" src="/images/logo.jpg" alt="Darius Bartender API">
                </p>
                <h1 class="text-center">Darius Bartender API V
                    <%= Version %>
                </h1>
                <h4 class="text-center mt-5">¡Bienvenido a nuestra API de Coctelería y Bartending!</h4>
                <p class="text-justify fs-5">
                    La coctelería es un arte que combina la creatividad, la destreza y el conocimiento de ingredientes para crear deliciosas y sorprendentes bebidas. Detrás de cada cóctel excepcional, hay un bartender experto que domina tanto la técnica como el arte de la
                    mixología.
                    <br><br> Nuestra API te ofrece una fuente confiable de información sobre cristalería, métodos de preparación y una selección de bebidas alcohólicas populares. Ya sea que estés interesado en aprender sobre los diferentes tipos de vasos
                    y copas que se utilizan en la coctelería, descubrir los métodos de preparación adecuados para cada cóctel o explorar una variedad de bebidas clásicas y contemporáneas, ¡estás en el lugar adecuado!
                    <br><br> Nuestro objetivo es proporcionarte una API sencilla pero completa que te permita acceder a datos precisos y actualizados sobre la coctelería. Ya sea que estés construyendo una aplicación móvil, un sitio web o simplemente quieras
                    ampliar tus conocimientos sobre la mixología, nuestra API te brindará la información necesaria para llevar tus habilidades de bartending al siguiente nivel.
                    <br><br> Explora nuestra API y descubre un mundo de posibilidades en la coctelería. ¡Prepárate para crear experiencias inolvidables con cada cóctel que prepares!
                </p>

                <h4 class="text-center">¡Salud y buenos tragos!</h4>

            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 mb-5">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="text-center">
                            API URL:
                            <br>
                            <%= URLActual %>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 100%;">
                    <img src="/images/cristaleria.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">CRISTALERIA</h5>
                        <div class="row">
                            <div class="col-3 text-end">
                                <span class="badge text-bg-primary">POST</span>
                                <span class="badge text-bg-success">GET</span>
                                <span class="badge text-bg-success">GET/:ID</span>
                                <span class="badge text-bg-info">PATCH</span>
                                <span class="badge text-bg-danger">DELETE</span>
                            </div>
                            <div class="col-9">
                                <p>
                                    /Cristaleria
                                    <br> /Cristaleria
                                    <br> /Cristaleria/ID
                                    <br> /Cristaleria/ID
                                    <br> /Cristaleria/ID
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card" style="width: 100%;">
                    <img src="/images/metodos.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">MÉTODOS DE PREPARACIÓN</h5>
                        <div class="row">
                            <div class="col-3 text-end">
                                <span class="badge text-bg-primary">POST</span>
                                <span class="badge text-bg-success">GET</span>
                                <span class="badge text-bg-success">GET/:ID</span>
                                <span class="badge text-bg-info">PATCH</span>
                                <span class="badge text-bg-danger">DELETE</span>
                            </div>
                            <div class="col-9">
                                <p>
                                    /Metodo
                                    <br> /Metodo
                                    <br> /Metodo/ID
                                    <br> /Metodo/ID
                                    <br> /Metodo/ID
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card" style="width: 100%;">
                    <img src="/images/bebidas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BEBIDAS</h5>
                        <div class="row">
                            <div class="col-3 text-end">
                                <span class="badge text-bg-primary">POST</span>
                                <span class="badge text-bg-success">GET</span>
                                <span class="badge text-bg-success">GET/:ID</span>
                                <span class="badge text-bg-info">PATCH</span>
                                <span class="badge text-bg-danger">DELETE</span>
                            </div>
                            <div class="col-9">
                                <p>
                                    /Bebida
                                    <br> /Bebida
                                    <br> /Bebida/ID
                                    <br> /Bebida/ID
                                    <br> /Bebida/ID
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="mt-5">
            <p class="text-center">
                ©copyright 2023 - Dario Enriquez Cortez
                <br>
                <a href="https://dariusdiy.com/" target="_blank">www.dariusDIY.com</a>
                <br>
                <a href="https://github.com/dariusCortez/DariusBartenderAPI" target="_blank">GitHub</a>
                <br>
            </p>
        </footer>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>

</html>
